

div h1 {
    background: #FF0099;
    height : 100px;
    margin-bottom: 6%;
    display : flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

